.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

button {
  padding: 10px 15px;
  margin: 10px;
}

.popup {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 10px;
}

select{
  padding: 5px;
  border-radius: 2px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.blue-box {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid blue;
  background-color: lightblue;
}

.segment-name{
  margin-bottom: 20px;
}